.main-content {
	min-height: 500px;
	max-width: 700px;
	margin-top: 70px;
}

.list {
	max-width: 800px;
}

.form {
	max-width: 450px;
}

.row {
	margin-top: 70px;
}

.index-page {
	margin-top: 70px;
}

.table th, td {
   text-align: center;   
}

.field-error {
	border: 1px solid #ff0000;
	margin-bottom: 10px;	
}

.input-group
{
	margin-bottom:10px;
}
.hide-radio>.btn-group-vertical>.btn input[type=radio] {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

img {
	display: block;
	margin: 0 auto;
	width: 75%;
}

audio {
	display: block;
	margin: 0 auto;
	width: 75%;
}

button.center {
	display: block;
	margin: 0 auto;
	/*width: 75%;*/
}

/*footer {*/
/*	clear: both;*/
/*	position: relative;*/
/*	height: 200px;*/
/*	margin-top: -200px;*/
/*}*/